Repository discord-gamestatus/discord-gamestatus: changes, and which pre-commit hooks are due for each by the changed paths.
All: node, sql, rust

node:
  name: Run node tests
  language: system
  pass_filenames: false
  entry: node ./run-tests.mjs --bot

sql:
  name: Run SQL tests
  language: system
  pass_filenames: false
  entry: node ./run-tests.mjs --sql

rust:
  name: Run rust tests
  language: system
  pass_filenames: false
  entry: node ./run-tests.mjs --scheduler

ci: Also publish docker images with the version ref
  .github/workflows/publish.yml
Due: none

commands: Remove extra log from statusmove
  bot/src/commands/statusmove.ts
Due: node

ci: Update working directory to bot subdir
  .github/workflows/ci.yml
Due: none

ci: Fix typo
  .github/workflows/ci.yml
Due: none

ci: Fix another typo
  .github/workflows/ci.yml
Due: none

package: Fix test script name
  bot/package.json
Due: none

tidy: Fix tests and add monorepo npm workspaces
  .gitignore
  bot/.eslintrc.json
  bot/bin/run-tests.mjs
  bot/package.json
  package-lock.json
  package.json
Due: none

tidy: Fix deprecated sqlfluff rule
  bot/.sqlfluff
Due: none

ci: Run tests when any of the config files are changed
  .github/workflows/ci.yml
Due: none

ci: Update to work with workspaces
  .github/workflows/ci.yml
Due: none

ci: Fix publishing the NPM package, and adding docker tags
  .github/workflows/publish.yml
Due: none

ci: Improve CI checks
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

tidy: Update package
  package-lock.json
Due: none

ci: Add dependabot config
  .github/dependabot.yml
Due: none

bot: Remove scheduler connection and update status functionality
  bot/bin/discord-gamestatus.js
  bot/src/commands/tickdebug.ts
  bot/src/index.ts
  bot/src/structs/Client.ts
  bot/src/structs/UpdateCache.ts
  bot/src/utils.ts
Due: node

docs: Add branch description to README
  README.md
Due: none

ci: Update pre-commit
  .pre-commit-config.yaml
Due: none

bot/query: Remove useless logging in blocklist
  bot/src/query.ts
Due: node

docker/bot: Fix Docker build with monorepo
  docker/Dockerfile.bot
Due: none

docker/scheduler: Bump rust version
  docker/Dockerfile.scheduler
Due: none

dockercompose: Bot no longer depends on scheduler
  docker-compose.yml
Due: none

dispatcher: Add dispatcher MVP
  .dockerignore
  .gitignore
  bot/bin/run-tests.mjs
  dispatcher/.eslintrc.json
  dispatcher/README.md
  dispatcher/package.json
  dispatcher/src/embed.ts
  dispatcher/src/index.ts
  dispatcher/src/query.ts
  dispatcher/src/types.ts
  dispatcher/src/typia-generated/is.ts
  dispatcher/src/typia-templates/is.ts
  dispatcher/tsconfig.json
  docker-compose.yml
  docker/Dockerfile.dispatcher
  package-lock.json
  package.json
Due: node

scheduler: Doc comments for database functions
  Cargo.lock
  scheduler/Cargo.toml
  scheduler/src/database.rs
Due: rust

scheduler: Handle client responses, and update database accordingly
  scheduler/src/database.rs
  scheduler/src/lib.rs
  scheduler/src/types.rs
Due: rust

dockercompose: Add network seperation
  docker-compose.yml
Due: none

dispatcher: Fix linting
  dispatcher/.eslintrc.json
  dispatcher/src/index.ts
  dispatcher/src/query.ts
Due: node

ci/prettier: Ignore generated code
  dispatcher/.prettierignore
Due: none

Update dependencies
  package-lock.json
Due: none

deps/bot: Update typescript to 5.2
  bot/package.json
  package-lock.json
Due: none

deps/bot: Update @discordjs/rest to 2.2
  bot/package.json
  package-lock.json
Due: none

deps/bot: Update eslint-config-prettier to 9.0
  bot/package.json
  package-lock.json
Due: none

deps/bot: Update utf-8-validate to 6.0
  bot/package.json
  package-lock.json
Due: none

bot/query: Add option to configure query timeout
  .env.example
  bot/bin/discord-gamestatus.js
  bot/src/index.ts
  bot/src/query.ts
  bot/src/structs/Client.ts
  docker-compose.yml
Due: node

Bump version
  bot/package.json
  package-lock.json
Due: none

ci: Correctly generate docker tags
  .github/workflows/publish.yml
Due: none

ci: Update test script path
  .pre-commit-config.yaml
Due: none

cli: Fix typo in query timeout variable
  bot/bin/discord-gamestatus.js
Due: node

Path conditions:
  node: any of: [.](ts|js)$
  sql: any of: [.]sql$
  rust: any of: [.]rs$
